h1 {
    margin-left: 6%;
    margin-bottom:1%;
}

form {
    margin-left: 1%;

    div {
        display: grid;
        grid-template-rows: auto auto auto;
        width: 100px;

        input {
            padding: 5px;
            margin-top: 5%;
            border-radius: 5px;
            border: 1px solid black;
        }
    }

    .button-section { 
        display: grid;
        grid-template-columns: auto auto;
    }

    .login-button { 
        padding: 6px;
        margin-top: 5%;
        width: 70px;
        margin-left: 5px;
        background-color: #242424;
        color: #fff;
        border: 0;
        border-radius: 5px;

        &:hover {
            background-color: #fff;
            color: #242424;
            border: 1px solid #242424;
            padding: 5px;
        }
    }
}