@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');
//Variables

$header-font: 'Odibee Sans', cursive;
$standard-font: 'Trebuchet MS' ;
$brown: #af7627;
$pink: #fed9c9;
$black: #000;


* {
  font-family: 'Trebuchet MS', Arial, sans-serif;
}