@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');
//Variables

$header-font: 'Odibee Sans', cursive;
$standard-font: 'Trebuchet MS' ;
$brown: #af7627;
$pink: #fed9c9;
$black: #000;
$card-hover: rgba(254,217,201, 0.8);
//Energy colors
$color-class-a: #63aa5a;
$color-class-b: #7bae4a;
$color-class-c: #ffe731;
$color-class-d: #fbb900;
$color-class-e: #fb8800;
$color-class-f: #e30613;
$color-class-g: #5a2a57;


@mixin ProductCards {
    background-color: rgba(255,255,255, 0.8);
    width: 25vw;
    height: 70%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 5px;
    margin-left: 10%;

}

@mixin CardContent {
  margin: 2%;
  margin-left: 5%;
  font-family: $standard-font;
}

@mixin InputStyle {
  width: 300px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid black;
}


* {
  font-family: 'Trebuchet MS', Arial, sans-serif;
  margin: 0;
  padding: 0;
  
}

