@import '../../App.scss';

.news-section {
    display: grid;
    width: 90vw;
    height: 40vh;
    position: relative;
    top:-150px;
}

.news-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 90vw;
    margin: auto;
    margin-left: 4%;
    height: 100%;

}

@media screen and (max-width: 700px) {
.news-section {
    height: 700px;
}
    .news-grid {
        display: grid;
        grid-template-rows: auto auto auto;
        grid-template-columns: none;
        justify-content: center;
    
        }

    
}